<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
        function toggleLED(){
            $.ajax(
                {
                    url: "http://192.168.1.5:433/toggleLED",
                    type: "GET"
                }
            )
        }
    
    </script>
    
    <h1>Hello. {Insert Name Here}</h1>
    
    <button onclick="toggleLED()"> Toggle LED</button>
